__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
.env
.venv/
venv/
node_modules/
npm-debug.log
.DS_Store
.idea/
.vscode/
*.egg-info/
dist/
build/
*.bak
*.swp
*.swo
*.tmp
*.orig
*.lock
*.cache
*.coverage
*.mypy_cache/
*.pytest_cache/
*.ipynb_checkpoints/
